@model IEnumerable<BulkyBook.Models.CoverType>

<div class="row">
    <div class="row mt-4 mb-4">
        <div class="col col-lg-6"><h1>Cover Type List</h1></div><div class="col col-lg-6"><a asp-controller="Admin" asp-action="CreateCovertype" class="btn btn-success">Create Covertype</a></div>
    </div>
    @if (Model.Count() > 0)
    {
        <table class="table table-borderless table-striped bb-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(x => x.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(x => x.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Id)</td>
                        <td>@Html.DisplayFor(m => item.Name)</td>
                        <td>
                            <span class="col-md-6">
                                <a asp-controller="Admin" asp-action="EditCovertype" asp-route-Id="@item.Id">
                                    <span class="bb-btnEdit">
                                        <i class="bi bi-pencil-square"></i>
                                    </span>
                                </a>
                            </span>
                            <span class="col-md-6">
                                <a asp-controller="Admin" asp-action="DeleteCovertype" asp-route-Id="@item.Id">
                                    <span class="bb-btnDelete">
                                        <i class="bi bi-trash"></i>
                                    </span>
                                </a>
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="row"><span class="text-success">No Cover Type Existing....</span></div>
    }
</div>
